<h1>Pływanie delfinem:</h1>
<p>Prawidłowe pływanie delfinem czyli stylem motylkowym polega na odzworowaniu ruchu delfinów.<br>
  Przyjmuje się, że na jeden ruch obu rąk jednocześnie przypadają dwa odbicia nogami.<br>
  W momencie ruchu odbicia rąk powinno się odbić od wody. I tak jest to łagodniejsza wersja.<br>
  W zawodach pływackich nie wolno kopać nogami. Co oznacza, że jest to najtrudniejszy styl pływacki.</p>
<body>
</body>
<footer class="footer">
  <div style="position: absolute; bottom: 0px;"><b>@ Copyrights Tomasz Grzesik | 2020</b></div>
</footer>
